.main-chat 
  .main-chat__header
    .main-chat__header__left
      .main-chat__header__left--group
        = @group.name
      .main-chat__header__left--member
        = "Members:"
        - @group.users.each do |user|
          = user.name
    .main-chat__header__right--btn
      = link_to 'Edit', edit_group_path(current_user), class: "main-chat__header__right--btn"
  .main-chat__messages
    = render @messages

  .main-chat__form
    .main-chat__form__new-messages
      = form_for [@group, @message] do |f|
        .main-chat__form__new-messages__message-box
          = f.text_field :content, class:"main-chat__form__new-messages__message-box__input-text", placeholder: "type a message"
          = f.label :image, for: "hidden", class:"main-chat__form__new-messages__message-box__input-image" do
            = icon('far fa-image', class: "icon")
            = f.file_field :image, id: "hidden"
          = f.submit "send", class: "main-chat__form__new-messages__form__btn"