.side-chat
  .side-chat__header
    .side-chat__header__block
      .side-chat__header__block__left 
        = current_user.name
      .side-chat__header__block__right
        = link_to '#', class: "edit-icon-btn" do
          = icon('fas fa-edit', class: 'icon')
        = link_to edit_user_path(current_user), class: "cog-icon-btn" do
          = icon('fas fa-cog', class: 'icon')
  .side-chat__groups 
    .side-chat__groups__group
      .side-chat__groups__group--name
        white-bear
      .side-chat__groups__group--message
        おはよ〜
    .side-chat__groups__group
      .side-chat__groups__group--name
        G-shiro3
      .side-chat__groups__group--message
        こんにちは