.side-chat
  .side-chat__header
    .side-chat__header__block
      .side-chat__header__block__left 
        = current_user.name
      .side-chat__header__block__right
        = link_to new_group_path, class: "edit-icon-btn" do
          = icon('fas fa-edit', class: 'icon')
        = link_to edit_user_path(current_user), class: "cog-icon-btn" do
          = icon('fas fa-cog', class: 'icon')
  .side-chat__groups 
    - current_user.groups.each do |group|
      .side-chat__groups__group
        = link_to '#' do
          .group--name
            = group.name
          .group--message
            メッセージはまだありません。
